/* Maybe move to parent file? */
:root {
    --main: rgba(185, 213, 255, 255);
    --accent-dark: rgba(137, 184, 255, 255);
}

.header {
    height: 70px;
    background-color: rgb(210, 210, 210);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px;
}

.header a {
    text-decoration: none;
}

.exercise_container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

input:focus {
    outline: none;
}

/* Button */
/* Exercise general */
.exercise {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 800px;
    min-height: 400px;
}

.exercise>div {
    background-color: rgba(240, 240, 240, 1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 40px;
}

.exercise>* {
    height: 100%;
}

.exercise #instruction {
    font-size: 1em;
}

.exercise #word {
    font-size: 2em;
    font-weight: 600;
}

.exercise #hint_sentence {
    padding-bottom: 20px;
}

.exercise .content {
    min-height: 150px;
    height: 100%;
    flex-grow: 1;
}

.exercise .correction {}

.exercise .loading_container {
    margin: auto;
    display: flex;
    gap: 10px;
}

/* Exercise types */