{% extends 'quiz/base_generic.html' %}

{% block title %}
{{ wordlist.name }} - Oefening
{% endblock %}

{% block content %}

<h1>Exercise: {{ wordlist.name }}</h1>

<form action="{% url 'answers' wordlist.id %}" method="post">
    {% csrf_token %}
    {% for material in wordlist.material_set.all %}
        <fieldset>
            <legend>What is {{ material.translation.word_one }} in {{material.translation.word_two.language}}?</legend>
            {% for word in material.translation.getOptions %}
                <input type="radio" name="translation_{{ material.translation.id}}_choice" id="choice_{{ forloop.counter }}" value="{{ word.id }}">
                <label for="choice_{{ forloop.counter }}">{{ word }}</label><br>
            {% endfor %}
        </fieldset>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endblock content %}